---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import styles from '../styles/global.css';
import { string } from 'astro/zod';
---

<BaseLayout title="About | Kemal Kazanc" description="About Kemal Kazanc">
	<div class="stack gap-10">
		<h1>About</h1>
		<main class="wrapper about content-start">
			<Hero>
				<img
					width="400"
					height="auto"
					src="/public/assets/Kemal-work.jpg"
					alt="Photo de profile about"
				/>
			</Hero>

			<section>
				<section>
					<h2 class="section-title">Background</h2>
					<div class="content">
						<p>
							Entamé ma carrière en développement en 2020 avec une première formation axée sur la conception d'applications PHP Symfony.
						</p>
						<p>
							J'ai évolué en tant que développeur Javascript React avec ma formation chez OpenClassrooms, j'ai contribué à divers projets, dont des sites e-commerce, et je continue de peaufiner mes compétences sur Frontendmentor.
						</p>
						<p>
							Ma passion pour Javascript React m'inspire à maîtriser l'UX/UI à travers des formations continues et l'utilisation assidue d'outils tels que Figma et Photoshop Adobe.
						</p>
					</div>
				</section>
				<section>
					<h2 class="section-title">Education</h2>
					<div class="content">
						<p>Niveau BAC+2 Management des Unités Commerciales</p>
						<p>BAC +3/4 Développeur d'Application JavaScript React</p>
					</div>
				</section>
				<section>
					<h2 class="section-title">Skills</h2>
					<div class="content">
						<p>Leader, Curieux, Créatif, Autonome, Organisé, Dynamique</p>
					</div>
				</section>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>

.about {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divise le main en deux colonnes égales */
  grid-template-rows: auto; /* Définit une seule ligne pour chaque section */
  gap: 3.5rem;
  align-self: start; /* Aligne le grid à gauche */
}
img {
  width: 100%; /* Assurez-vous que l'image prend 100% de la largeur de sa colonne */
  margin-top: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: var(--shadow-md);
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--gray-200);
}

.section-title {
  font-size: var(--text-xl);
  color: var(--gray-0);
}

.content {
  margin-top: 1.5rem; /* Ajoute une marge en haut pour l'espace */
}

@media (min-width: 50em) {
  .about {
    grid-template-columns: 1fr 1fr; /* Vous pouvez ajuster cela en fonction de votre mise en page */
  }

  img {
    width: auto; /* Rétablissez la largeur automatique pour l'image */
    order: 2; /* Change l'ordre de l'image à la 2ème colonne */
  }

  section {
    order: 1; /* Change l'ordre de la section à la 1ère colonne */
  }

  .section-title {
    font-size: var(--text-lg);
  }
}

</style>
