---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import { string } from 'astro/zod';
---

<BaseLayout title="About | Kemal Kazanc" description="About Kemal Kazanc">
	<div class="stack gap-10">
		<div class="flex place-content-center">
			<h1 class="about_title">About</h1>
		</div>
		<main class="wrapper about grid items-center">
			<div class="container_img">
				<img class="img_work"
				width="450"
				height="auto"
				src="/public/assets/Kemal-work.jpg"
				alt="Photo de profile about"
			/>
			</div>
			<section>
				<section>
					<h2 class="section-title">Background</h2>
					<div class="content">
						<p>
							Entamer ma carrière en développement en 2020 avec une première formation axée sur la conception d'applications PHP Symfony.
						</p>
						<p>
							J'ai évolué en tant que développeur Javascript React avec ma formation chez OpenClassrooms, j'ai contribué à divers projets, dont des sites e-commerce, et je continue de peaufiner mes compétences sur Frontendmentor.
						</p>
						<p>
							Ma passion pour Javascript React m'inspire à maîtriser l'UX/UI à travers des formations continues et l'utilisation assidue d'outils tels que Figma et Photoshop Adobe.
						</p>
					</div>
				</section>
				<section>
					<h2 class="section-title">Education</h2>
					<div class="content">
						<p>Niveau BAC+2 Management des Unités Commerciales</p>
						<p>BAC +3/4 Développeur d'Application JavaScript React</p>
					</div>
				</section>
				<section>
					<h2 class="section-title">Skills</h2>
					<div class="content">
						<p>Leader, Curieux, Créatif, Autonome, Organisé, Dynamique</p>
					</div>
				</section>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
.about_title{
	font-size: var(--text-4xl);
}
.about {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divise le main en deux colonnes égales */
  grid-template-rows: auto; /* Définit une seule ligne pour chaque section */
  gap: 3.5rem;
  align-self: start; /* Aligne le grid à gauche */
}

.container_img{
	display: flex;
	justify-content: flex-end;
}
.img_work {
  border-radius: 1.5rem;
  box-shadow: var(--shadow-md);
	display: flex;
	width: 80%;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--gray-200);
}

.section-title {
  font-size: var(--text-xl);
  color: var(--gray-0);
}

.content {
	margin-bottom: 1.5rem;
}
/* Réglages pour les tailles d'écran plus petites (en-dessous de 50em) */
@media (min-width: 335px) and (max-width: 600px) {
  .about {
    display: flex; /* Utilise le mode flex */
    flex-direction: column; /* Dispose les éléments en colonne */
  }
	.container_img{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media (min-width: 50em) {
  .about {
    grid-template-columns: 1fr 1fr; /* Vous pouvez ajuster cela en fonction de votre mise en page */
  }

  .container_img {
    order: 2; /* Change l'ordre de l'image à la 2ème colonne */
  }

  section {
    order: 1; /* Change l'ordre de la section à la 1ère colonne */
  }

  .section-title {
    font-size: var(--text-xl);
  }
}

</style>
