---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Nav from '../components/Nav.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';

// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					subtitle="Salut ! Je suis -"
					title="Kemal Kazanc"
					tagline=''
					tagline1="Développeur Front-End JavaScript & React"
					tagline2="Je cherche à provoquer un impact positif à travers la technologie."
					align="start"
				>
					<div class="roles">
						<Pill><Icon icon="github-logo" size="1.33em" />GitHub</Pill>
						<Pill><Icon icon="linkedin-logo" size="1.33em" />Linkedin</Pill>
						<Pill><Icon icon="twitter-logo" size="1.33em" />Twitter</Pill>
						<Pill><Icon icon="youtube-logo" size="1.33em" />Youtube</Pill>
						<Pill><Icon icon="Email-logo" size="1.33em" />Message </Pill>
					</div>
				</Hero>
				<div class="image">
					<img
						alt="Kemal Kazanc Home Picture"
						width="290"
						height="290"
						src="/assets/Kemal-work.webp"
					/>
				</div>
			</header>
			<Skills />
			<div class="stack gap-10">
				<div class="flex place-content-center">
					<h1 class="about_title">À propos</h1>
				</div>
				<main class="wrapper about grid items-center">
					<div class="container_img">
						<img class="img_work"
						width="450"
						height="auto"
						src="/assets/Kemal-work.webp"
						alt="Photo de profile about"
					/>
					</div>
					<section>
						<section>
							<h2 class="section-title">Background</h2>
							<div class="content-about">
								<p>
									En 2020, j'ai lancé ma carrière dans le développement en me formant à la conception d'applications avec PHP Symfony.
								</p>
								<p>
									Par la suite, j'ai élargi mes compétences en devenant développeur Javascript spécialisé en React, suite à une formation chez OpenClassrooms. Depuis lors, j'ai contribué à plusieurs projets, y compris des sites e-commerce et des sites vitrine.
								</p>
								<p>
									Je continue à perfectionner mes compétences en travaillant sur des projets réels et en réalisant des exercices sur des plateformes comme Frontend Mentor. Ma passion pour Javascript et React m'incite également à approfondir mes connaissances en UX/UI. Pour cela, je participe régulièrement à des formations continues.
								</p>
							</div>
						</section>
						<section>
							<h2 class="section-title">Education</h2>
							<div class="content-about">
								<p>Niveau BAC+2 Management des Unités Commerciales</p>
								<p>BAC +3/4 Développeur d'Application JavaScript React</p>
							</div>
						</section>
						<section>
							<h2 class="section-title">Skills</h2>
							<div class="content-about">
								<p>Leader, Curieux, Créatif, Autonome, Organisé, Dynamique</p>
							</div>
						</section>
					</section>
				</main>
			</div>
		</div>

		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Mes projets</h3>
					<p>Jetez un œil ci-dessous à certains de mes travaux personnels et professionnels.</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							projects.map((project) => (
								<li>
									<PortfolioPreview project={project} />
								</li>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction href="/work/">
						Voir tous
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>

			<!-- <section class="section with-background bg-variant">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Mentions</h3>
					<p>
						I have been fortunate enough to receive praise for my work in several publications. Take
						a look below to learn more.
					</p>
				</header>

				<div class="gallery">
					<Grid variant="small">
						{
							['Medium', 'BuzzFeed', 'The Next Web', 'awwwards.', 'TechCrunch'].map((brand) => (
								<li class="mention-card">
									<p>{brand}</p>
								</li>
							))
						}
					</Grid>
				</div>
			</section> -->
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		padding-top: 5rem;
    padding-bottom: 10rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 4 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 50%;
		box-shadow: var(--shadow-md);
	}

	.download{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.pill {
		display: flex;
		padding: 0.5rem 1rem;
		gap: 0.5rem;
		color: var(--accent-text-over);
		border: 1px solid var(--accent-regular);
		background-color: var(--accent-regular);
		border-radius: 999rem;
		font-size: var(--text-md);
		line-height: 1.35;
		white-space: nowrap;
	}

	.btn-download-cv:hover {
			background-color: #0056b3; /* Couleur de fond plus foncée lors du survol */
	}

	@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

	.animate-pulse-custom {
    animation: pulse 2s infinite;
  }

	@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }

	.animate-shake {
    animation: shake 0.5s infinite;
  }

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.image{
			display: flex;
    	align-items: center;
    	justify-content: flex-end;
		}
		.hero img {
			aspect-ratio: 4 / 4;
			border-radius: 50%;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
	/* ------------------------------- */

	.about_title{
	font-size: var(--text-4xl);
}
.about {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divise le main en deux colonnes égales */
  grid-template-rows: auto; /* Définit une seule ligne pour chaque section */
  gap: 3.5rem;
  align-self: start; /* Aligne le grid à gauche */
}

.container_img{
	display: flex;
	justify-content: flex-end;
}
.img_work {
  border-radius: 1.5rem;
  box-shadow: var(--shadow-md);
	display: flex;
	width: 80%;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--gray-200);
}

.section-title {
  font-size: var(--text-xl);
  color: var(--gray-0);
}

.content-about {
	margin-bottom: 1.5rem;
}
/* Réglages pour les tailles d'écran plus petites (en-dessous de 50em) */
@media (min-width: 335px) and (max-width: 600px) {
  .about {
    display: flex; /* Utilise le mode flex */
    flex-direction: column; /* Dispose les éléments en colonne */
  }
	.container_img{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media (min-width: 50em) {
  .about {
    grid-template-columns: 1fr 1fr; /* Vous pouvez ajuster cela en fonction de votre mise en page */
  }

  .container_img {
    order: 2; /* Change l'ordre de l'image à la 2ème colonne */
  }

  section {
    order: 1; /* Change l'ordre de la section à la 1ère colonne */
  }

  .section-title {
    font-size: var(--text-xl);
  }
}
</style>
