---
interface Props {
	subtitle: string;
	title: string;
	tagline: string
	tagline1: string;
	tagline2: string;
	align?: 'start' | 'center';
}

const { align = 'center', tagline1, tagline2, title, subtitle} = Astro.props;
---


<div class:list={['hero stack gap-4', align]}>
	<div class="stack gap-2">
		<h5 class="subtitle">{subtitle}</h5>
		<h1 class="title">{title}</h1>
		{tagline1 && <p class="tagline">{tagline1}</p>}
		{tagline2 && <p class="tagline">{tagline2}</p>}
		helo
	</div>
	<slot />
</div>

<style>
	.hero {
		font-size: var(--text-lg);
		text-align: center;
	}

	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}

	.title {
		font-size: var(--text-3xl);
		color: var(--gray-0);
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-xl);
		}

		.start {
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.title {
			font-size: var(--text-5xl);
		}
	}
</style>
