<div class="skillsLogo"><slot /></div>

<style>
  .skillsLogo {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    background-color: transparent; /* Pas de couleur de fond */
    border-radius: 999rem;
    font-size: var(--text-md);
    line-height: 1.35;
    white-space: nowrap;
    margin-top: 1rem;
  }
  .skillsLogo svg {
    width: 2em;
    height: 2em;
  }


</style>
