---
import Icon from './Icon.astro';
---

<h2 class="skills_title text-center">Skills</h2>
<section class="skills">
	<div class="skill-card">
		<Icon icon="pencil-line" color="var(--accent-regular)" size="2.5rem" gradient />
		<h3>Design</h3>
		<p>Figma</p>
		<p>Tailwind</p>
	</div>
	<div class="skill-card">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h3>Front-end</h3>
		<p>React</p>
		<p>Typescript</p>
		<p>Sass</p>
	</div>
	<div class="skill-card">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h3>Back-end</h3>
		<p>Symfony</p>
		<p>Csharp</p>
		<p>MySQL</p>
	</div>
	<div class="skill-card">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h3>Other</h3>
		<p>Git & Github</p>
		<p>Jira</p>
	</div>
</section>

<style>
	/* Styles de base pour la section skills */
	.skills_title {
		font-size: var(--text-3xl);
		margin-bottom: 1rem;
	}

	/* Disposition en grille pour la section skills */
	.skills {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Colonne de taille minimale de 200px */
		gap: 1rem; /* Espace entre les cards */
	}

	/* Styles pour chaque card de compétence */
	.skill-card {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skill-card h3 {
		font-size: var(--text-lg);
		margin: 0 0 10px 0;
	}

	.skill-card p {
		color: var(--gray-400);
		margin: 0.5rem 0;
	}
</style>
