---
import Icon from './Icon.astro';

---

<h2 class="skills_title text-center">Skills</h2>
<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
			<Icon icon="pencil-line" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>Design</h2>
		<p color="gradiant_p">Figma</p>
		<p>Tailwind</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Front-end</h2>
		<p>React </p>
		<p>Typescript </p>
		<p>Sass</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Back-end</h2>
		<p>Symfony</p>
		<p>Csharp</p>
		<p>MySQL</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Other</h2>
		<p>Git & Github</p>
		<p>Jira</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills_title{
			font-size: var(--text-3xl);
		}
	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}


	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	.gradiant_p{
		color: var(--accent-regular)
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
